/*==================  GOOGLE MAP  ======================*/
.map_model {
    height: 293px;
}
.map_model img {
    max-width: none !important;
}
@media (max-width: 767px) {
    .map_model {
        height: 230px;
    }
}
@media (max-width: 479px) {
    .map_model {
        height: 180px;
    }
}
.map_locations {
    display: none;
}