@import "animate.css";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
/*========================================================
                        Includes
=========================================================*/
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #272727;
  color: #464646;
  font: 400 14px/24px 'Open Sans', sans-serif;
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .img__mod {
    width: 100%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
cite,
time,
.terms-list dt {
  text-transform: uppercase;
  font-weight: 300;
}
h2 {
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
h2 span {
  color: #99bf38;
}
h3 {
  font-size: 50px;
  line-height: 32px;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 34px;
    line-height: 36px;
  }
}
h3 span {
  color: #99bf38;
}
h4,
cite,
address,
.terms-list dt {
  font-size: 20px;
  line-height: 20px;
  color: #464646;
}
@media (max-width: 980px) {
  h4,
  cite,
  address,
  .terms-list dt {
    font-size: 16px;
    line-height: 18px;
  }
}
h4 span,
cite span,
address span {
  color: #99bf38;
}
.h4__mod {
  line-height: 25px;
}
h5 {
  font-size: 15px;
  line-height: 15px;
}
p,
q,
dt,
dd {
  color: #bab9b9;
  font-family: 'Arial', sans-serif;
}
p a:hover,
q a:hover,
dt a:hover,
dd a:hover {
  text-decoration: underline;
}
.p__mod1 {
  line-height: 23px;
}
.p__skin {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  max-width: 85%;
  height: 145px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.p__skin a {
  font-size: 15px !important;
}
time {
  display: block;
  font-size: 20px;
  line-height: 25px;
}
q {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:active {
  background: transparent;
}
a:focus {
  outline: none;
}
a[href^="callto:#"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: 'FontAwesome';
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.color-1 {
  color: #fff;
}
.color-2 {
  color: #99bf38;
}
.circle-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.fw {
  font-weight: 400;
}
.mg-add {
  margin-top: -10px;
}
.mg-add2 {
  margin-top: -18px;
}
.mg-add3 {
  margin-right: 52px;
  margin-top: -7px;
}
@media (max-width: 767px) {
  .mg-add3 {
    margin: 10px 0;
  }
}
.mod-position1 {
  float: left;
}
@media (max-width: 767px) {
  .mod-position1 {
    float: none;
  }
}
.mod-position2 {
  float: right;
}
@media (max-width: 767px) {
  .mod-position2 {
    float: none;
  }
}
.mod-clear:before,
.mod-clear:after {
  content: " ";
  display: table;
}
.mod-clear:after {
  clear: both;
}
@media (max-width: 767px) {
  .mod-center {
    text-align: center;
  }
}
/*=======================================================
                       Main Layout
=========================================================*/
* + p {
  margin-top: 14px;
}
* + h4,
* + footer .inline-list {
  margin-top: 25px;
}
* + img {
  margin-top: 60px;
}
* + .row {
  margin-top: 90px;
}
* + .btn2,
* + .btn4 {
  margin-top: 31px;
}
* + blockquote {
  margin-top: 122px;
}
* + cite,
img + .post,
dd + dt {
  margin-top: 20px;
}
* + .post,
img + time {
  margin-top: 27px;
}
* + .offset4,
q + img {
  margin-top: 25px;
}
* + .contact-form {
  margin-top: 56px;
}
h2 + h4 {
  margin-top: 47px;
}
h3 + h4 {
  margin-top: 56px;
}
h3 + .post {
  margin-top: 53px;
}
h3 + .row {
  margin-top: 80px;
}
h3 + .offset2 {
  margin-top: 56px;
}
h3 + .offset5 {
  margin-top: 45px;
}
h3 + .offset {
  margin-top: 62px;
}
h3 + .offset3 {
  margin-top: 59px;
}
p + .marked-list {
  margin-top: 18px;
}
.row + .row {
  margin-top: 30px;
}
.row + .offset {
  margin-top: 45px;
}
/*=======================================================
                        Components
=========================================================*/
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
  text-transform: uppercase;
}
.sf-menu:before,
.sf-menu:after {
  content: " ";
  display: table;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
  padding-bottom: 20px;
}
.sf-menu > li + li {
  margin-left: 28px;
}
.sf-menu a {
  display: block;
}
.sf-menu > li > a {
  color: #FFF;
  font-size: 20px;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover {
  color: #99bf38;
}
.sf-menu > li.active > a {
  color: #99bf38;
}
.sf-menu ul {
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  width: 220px;
  padding: 40px 0;
  background: #99bf38;
  z-index: 9999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #99bf38 transparent;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
}
.sf-menu ul > li > a {
  text-transform: uppercase;
  color: #FFF;
  background: #99bf38;
  padding: 10px 0;
}
.sf-menu ul > li.sfHover > a,
.sf-menu ul > li > a:hover {
  color: #8d8d8d;
}
.sf-menu ul ul {
  position: absolute;
  width: 160px;
  left: 321px;
  top: 50%;
  margin-top: 0;
  z-index: 4;
  padding: 10px 0;
  background: #464646;
}
.sf-menu ul > ul:before {
  display: none;
}
.sf-menu ul ul > li > a {
  color: #FFF;
  background: #464646;
}
.sf-menu ul ul > li.sfHover > a,
.sf-menu ul ul > li > a:hover {
  color: #8d8d8d;
}
.sf-menu ul ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 5px 4.5px 0;
  border-color: transparent #464646 transparent transparent;
  left: -5px;
  top: 10px;
  position: absolute;
}
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 240px;
  padding: 20px 0;
  color: #a5bfd2;
  background: #2b3643;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 9px 25px 11px;
}
.rd-mobilemenu_ul a:hover {
  background: #99bf38;
  color: #ffffff;
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #2b3643;
  color: #a5bfd2;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #ffffff;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rd-mobilepanel_toggle {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  position: fixed;
  top: 4px;
  color: #ffffff;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
}
.rd-mobilepanel_toggle::-moz-focus-inner {
  border: none;
  padding: 0;
}
.rd-mobilepanel_toggle:before {
  content: '\f0c9';
  font-family: 'FontAwesome';
}
.rd-mobilepanel_toggle.active:before {
  content: '\f00d';
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu,
  .rd-mobilepanel {
    display: block;
  }
}
/*==================  Stuck menu  ======================*/
.isStuck {
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-bottom: 1px solid #333333;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
.isStuck .nav {
  margin-top: 20px;
}
/*.isStuck .brand {
  padding-left: 80px;
}*/
.isStuck .brand_name {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.07em;
}
/*.isStuck .brand:before {
  content: "\f130";
  position: absolute;
  color: #fff;
  left: 5px;
  top: 3px;
  height: 60px;
  width: 60px;
  background: #99bf38;
  font-family: 'FontAwesome';
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}*/
/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  background: #464646;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #99bf38;
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
.fixed-player {
  z-index: 1;
}
.audiojs {
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 21px 40px 0 60px;
  margin: 0 auto;
  height: 50px;
  background: #363636;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.audiojs .play-pause {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  margin: 0px;
  overflow: hidden;
}
.audiojs p {
  display: none;
  position: relative;
  cursor: pointer;
  height: 28px;
  margin-top: 12px;
  color: #ffffff;
}
.audiojs p:hover {
  color: #99bf38;
}
.audiojs p:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  line-height: 28px;
  font-size: 28px;
  width: 100%;
  z-index: 5;
  text-align: center;
  font-family: 'FontAwesome';
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.audiojs .play {
  display: block;
}
.audiojs .scrubber {
  position: relative;
  cursor: pointer;
  background: #282828;
  height: 4px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.audiojs .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background: #ffffff;
  z-index: 1;
}
.audiojs .progress:after {
  content: '';
  position: absolute;
  right: -10px;
  top: -3px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  z-index: 5;
}
.audiojs .loaded {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%!important;
  background: #000000;
}
.audiojs .time {
  color: #ffffff;
}
.audiojs .error-message {
  position: absolute;
  left: 0;
  top: 42px;
  display: none;
  margin: 0px 10px;
  overflow: hidden;
  line-height: 36px;
  color: #e5e5e5;
  z-index: 1;
}
.close-button {
  cursor: pointer;
  position: absolute;
  right: 0%;
  margin-right: 10px;
  top: 0px;
  color: #ffffff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.close-button:hover {
  color: #99bf38;
}
.audiojs .play:before {
  content: '\f0da ';
}
.audiojs .loading:before {
  content: '\f110';
}
.audiojs .error:before {
  content: '\f00d';
}
.audiojs .pause:before {
  content: '\f04c';
  font-size: 14px;
}
.playing .play,
.playing .loading,
.playing .error {
  display: none;
}
.playing .pause {
  display: block;
}
.loading .play,
.loading .pause,
.loading .error {
  display: none;
}
.loading .loading {
  display: block;
}
.error .time,
.error .play,
.error .pause,
.error .scrubber,
.error .loading {
  display: none;
}
.error .error {
  display: block;
}
.error .play-pause p {
  cursor: auto;
}
.error .error-message {
  display: block;
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f065';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px 'FontAwesome';
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image,
.parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  z-index: 8000;
  /*padding-left: 120px;*/
  position: relative;
  color: #fff;
}
.brand_name {
  overflow: hidden;
  text-transform: capitalize;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.07em;
}
.brand_slogan {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 15px;
  color: #bbbaba;
}
/*.brand:before {
  content: "\f130";
  position: absolute;
  color: #fff;
  left: 5px;
  top: 5px;
  height: 92px;
  width: 92px;
  background: #99bf38;
  font-family: 'FontAwesome';
  font-size: 32px;
  line-height: 92px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}*/
@media (max-width: 767px) {
  .brand {
    text-align: left;
  }
}
@media (max-width: 479px) {
  .brand {
    text-align: left;
  }
  .brand_name {
    font-size: 30px;
    line-height: 30px;
  }
  .brand:before {
    top: -5px;
  }
}
/*==================     Slogan     =====================*/
.slogan {
  text-align: center;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
  bottom: 208px;
}
.slogan h3 {
  text-transform: capitalize;
  color: #99bf38;
  line-height: 50px;
}
.slogan h3 span {
  color: #fff;
}
.slogan p {
  text-transform: uppercase;
  color: #bbbaba;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
.slogan h3 + p {
  margin-top: 31px;
}
@media (max-width: 1200px) {
  .slogan {
    bottom: 30px;
  }
  .slogan h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .slogan p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .slogan {
    bottom: 40px;
  }
  .slogan h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .slogan p {
    display: none;
  }
}
/*==================    Block1    =======================*/
.block1 {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.block1 img {
  width: 100%;
  height: auto;
}
.block1_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: transparent;
  color: #fff;
}
.block1_overlay .block1_city,
.block1_overlay time {
  position: absolute;
  font-weight: 300;
}
.block1_overlay .block1_city {
  top: -80px;
  left: 58px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  color: #fff;
}
.block1_overlay .block1_city a {
  font-size: 35px;
}
.block1_overlay .block1_city a:hover {
  text-decoration: underline;
}
.block1_overlay .block1_city p {
  margin-top: 12px;
  color: #fff !important;
}
.block1_overlay time {
  font-size: 40px;
  line-height: 35px;
  text-transform: none;
  bottom: -80px;
  left: 58px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.block1_overlay time span {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}
.block1_overlay a.fa {
  right: -100px;
  bottom: 55px;
}
.lt-ie9 .block1_overlay a.fa {
  display: none;
}
.block1:hover .block1_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .block1:hover .block1_overlay {
  filter: alpha(opacity=100);
}
.lt-ie9 .block1:hover .block1_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.block1:hover .block1_overlay .block1_city {
  top: 57px;
}
.block1:hover .block1_overlay time {
  bottom: 44px;
}
.block1:hover .block1_overlay a.fa {
  right: 40px;
}
.block1:hover .block1_overlay .lt-ie9 a.fa {
  display: block;
}
@media (max-width: 1199px) and (min-width: 768px), (max-width: 480px) {
  .block1 {
    overflow: hidden;
  }
  .block1_overlay .block1_city {
    left: 30px;
  }
  .block1_overlay .block1_city a {
    font-size: 24px;
  }
  .block1_overlay .block1_city p {
    font-size: 10px !important;
    line-height: 10px !important;
    margin-top: 5px;
  }
  .block1_overlay time {
    font-size: 22px;
    line-height: 24px;
    left: 30px;
  }
  .block1_overlay time span {
    font-size: 10px;
  }
  .block1_overlay a.fa {
    bottom: 30px;
  }
  .block1:hover .block1_overlay .block1_city {
    top: 20px;
  }
  .block1:hover .block1_overlay time {
    bottom: 20px;
  }
  .block1:hover .block1_overlay a.fa {
    right: 20px;
  }
}
/*==================     Flex-list  =====================*/
.flex-list {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.flex-list li {
  display: table-cell;
  background: #f4f5f5;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #fff;
  padding-top: 46px;
  padding-bottom: 47px;
}
.flex-list li a:hover {
  opacity: 0.4;
}
.lt-ie9 .flex-list li a:hover {
  filter: alpha(opacity=40);
}
.flex-list li:first-child {
  border-left: 1px solid #fff;
}
@media (max-width: 767px) {
  .flex-list li {
    border: none;
  }
  .flex-list li:first-child {
    border: none;
  }
}
@media (max-width: 767px) {
  .flex-list,
  .flex-list li {
    display: block;
  }
}
/*==================     Parallax  ======================*/
.parallax p {
  line-height: 23px;
  font-weight: 300;
  color: #bbbaba;
}
.parallax h3 + h4 {
  margin-top: 57px;
}
/*==================     Icons     ======================*/
.fa {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: 'FontAwesome';
  text-align: center;
}
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-vk,
.fa-youtube,
.fa-instagram {
  width: 45px;
  height: 45px;
  font-size: 22px;
  line-height: 45px;
  background: #464646;
}
.fa-facebook:hover {
  background: #99bf38;
}
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-vk:hover,
.fa-youtube:hover,
.fa-instagram:hover {
  background: #99bf38;
}
.fa-trophy,
.fa-heart-o,
.fa-music {
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 70px;
  background: #99bf38;
}
.block1_overlay a.fa.fa-search {
  position: absolute;
  width: 65px;
  height: 65px;
  font-size: 19px;
  line-height: 65px;
  background: #99bf38;
}
.block1_overlay a.fa.fa-search:hover {
  background: #6a8427;
}
/*==================    Buttons    ======================*/
.btn,
.btn2,
.btn3 {
  text-transform: uppercase;
  position: relative;
  font-size: 19px;
  line-height: 79px;
  display: inline-block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.001em;
}
.btn:after,
.btn2:before {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 7px;
  width: 65px;
  height: 65px;
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 19px;
  line-height: 65px;
  text-align: center;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn {
  float: right;
  padding-right: 83px;
}
.btn-pull-right {
  float: right;
  margin-top: -20px;
}
@media (max-width: 767px) {
  .btn {
    margin-top: 20px;
    float: none;
  }
}
.btn:after {
  content: "\f002";
  background: #464646;
  right: 2px;
}
.btn span:hover {
  color: #464646;
}
.btn:hover:after {
  background: #99bf38;
}
.btn2 {
  padding-left: 83px;
}
.btn2:before {
  content: "\f036";
  background: #99bf38;
  left: 0;
}
.btn2 a {
  color: #464646;
}
.btn2 span:hover {
  color: #99bf38;
}
.btn2:hover:before {
  background: #464646;
}
.btn3 {
  font-size: 19px;
  line-height: 79px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn3:hover {
  color: #99bf38;
}
.btn4 {
  overflow: hidden;
  padding: 13px 30px 14px;
  color: #fff;
  background: #464646;
  text-transform: uppercase;
}
.pulse {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
}
.pulse:hover,
.pulse:active {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: linear;
}
.pulse__mod:hover {
  background: #99bf38;
}
.pulse__mod:active {
  background: #5a7021;
}
/*==================      Box      ======================*/
.box {
  text-align: center;
}
.box:before,
.box:after {
  content: " ";
  display: table;
}
.box:after {
  clear: both;
}
.box h4 {
  display: inline-block;
  line-height: 40px;
  color: #fff;
  position: relative;
  padding: 5px 40px 0 46px;
}
.box h4:before {
  content: '\f003';
  position: absolute;
  left: 0;
  top: 4px;
  font: 400 30px/40px 'FontAwesome';
  color: #464646;
}
@media (max-width: 1199px) {
  .box h4 {
    padding-right: 0;
  }
}
@media (max-width: 479px) {
  .box h4 {
    padding-left: 33px;
  }
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}
/*==================    Copyright   =====================*/
.copyright {
  display: inline;
  color: #a1a194;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
}
/*==================    Marked-list   ====================*/
.marked-list {
  font-size: 15px;
  line-height: 40px;
  color: #3f454d;
  text-transform: uppercase;
}
@media (max-width: 979px) {
  .marked-list {
    line-height: 30px;
  }
}
.marked-list li {
  position: relative;
  padding-left: 27px;
  letter-spacing: -0.04em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.marked-list li a:hover:before {
  left: 2px;
}
.marked-list li a:before {
  content: '\f00c';
  position: absolute;
  left: 0;
  top: 0;
  font: 400 14px 'FontAwesome';
  line-height: inherit;
  color: #99bf38;
}
/*==================    Inline-list   ====================*/
.inline-list {
  display: inline-block;
}
.inline-list:before,
.inline-list:after {
  content: "";
  display: table;
}
.inline-list:after {
  clear: both;
}
.inline-list li {
  float: left;
}
.inline-list li + li {
  margin-left: 11px;
}
/*==================     Post      ======================*/
.post {
  position: relative;
  padding-left: 70px;
}
.post time {
  position: absolute;
  left: 0;
  top: 4px;
  line-height: 29px;
  color: #464646;
}
.post time > span {
  font-size: 32px;
  line-height: 26px;
  color: #464646;
}
.post h4 + p {
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .post {
    padding-left: 50px;
  }
}
/*==================     Block3      ======================*/
.block3 {
  position: relative;
  padding-left: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.block3 span {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1199px) {
  .block3 {
    padding-left: 80px;
  }
}
/*==================     Block4      ======================*/
.block4 {
  background: #f3f3f3;
  /*padding-bottom: 35px;*/
  max-height: 300px;
  overflow: hidden;
}
.block4 h4,
.block4 p {
  padding: 0 20px;
}
/*==================     Article     ======================*/
article h4 {
  margin-top: 0;
}
article a:hover {
  color: #464646;
}
/*==================    Music-list   ======================*/
.music-list .li__skin {
  background: #fafafa;
}
.music-list li {
  cursor: pointer;
  padding: 31px 0 30px 40px;
  background: #f3f3f3;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.music-list li:hover {
  background: #464646;
}
.music-list li:hover h4 {
  color: #fff;
}
.music-list li:before {
  content: "\f144";
  position: absolute;
  color: #fff;
  font-size: 15px;
  line-height: 37px;
  width: 37px;
  height: 37px;
  font-family: 'FontAwesome';
  background: #99bf38;
  text-align: center;
  left: 40px;
  top: 39px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.music-list li.stopped:before {
  content: "\f04b";
}
.music-list li.playing::before {
  content: "\f04c";
}
.music-list li h4 {
  padding-left: 75px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .music-list {
    margin-top: 40px;
  }
}
@media (max-width: 1199px) {
  .music-list li {
    padding-left: 20px;
  }
  .music-list h4 {
    padding-left: 40px;
    font-size: 15px;
  }
}
/*=================     Blockquote     ==================*/
blockquote {
  position: relative;
}
blockquote:before {
  content: "\f10d";
  position: absolute;
  left: 0;
  right: 0;
  top: -55px;
  font: 400 36px/26px 'FontAwesome';
  color: #fff;
}
blockquote cite {
  display: block;
  color: #99bf38;
  line-height: 25px;
}
/*==================   Contact List   ======================*/
.contact-list address {
  text-transform: uppercase;
}
.contact-list address + dl {
  margin-top: 12px;
}
.contact-list dt {
  float: left;
}
.contact-list dd {
  float: right;
  margin-right: 20px;
}
.contact-list dd a[href^="mailto:#"] {
  text-decoration: underline;
}
.contact-list dd a[href^="mailto:#"]:hover {
  color: #99bf38;
}
.contact-list dt + dd {
  margin-top: 0;
}
.contact-list dd + dt {
  clear: both;
  margin-top: 0;
}
.contact-list dl + dl {
  clear: both;
}
.contact-list dl + dl dd,
.contact-list dl + dl dt {
  display: inline-block;
  /*float: none;*/
}
/*==================    Terms-list   ===================*/
.terms-list dt {
  color: #99bf38;
}
.terms-list dd,
.terms-list a[href^="mailto:#"] {
  color: #c8c8c1;
}
.terms-list a[href^="mailto:#"] {
  text-decoration: underline;
}
.terms-list a[href^="mailto:#"]:hover {
  color: #99bf38;
}
.terms-list dt + dd {
  margin-top: 12px;
}
.terms-list h3 + dl {
  margin-top: 57px;
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  position: relative;
}
header .camera_container + .stuck_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 116px;
}
@media (max-width: 1200px) {
  header .camera_container + .stuck_container {
    top: 50px;
  }
}
header .brand {
  float: left;
}
header .nav {
  float: right;
  margin-top: 40px;
}
@media (max-width: 767px) {
  header {
    text-align: center;
  }
  header .brand,
  header .nav {
    float: none;
  }
}
.header__mod {
  padding-top: 41px;
  padding-bottom: 41px;
  background: url(../images/header_bg.jpg), #ffffff;
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #ffffff;
}
/*==================      Well     ======================*/
.well {
  padding-top: 143px;
  padding-bottom: 133px;
}
.well__ins {
  padding-bottom: 145px;
}
.well2 {
  padding-top: 146px;
  padding-bottom: 144px;
}
.well2__ins {
  padding-bottom: 137px;
}
.well2__ins2 {
  padding-bottom: 132px;
}
.well2__ins3 {
  padding-bottom: 115px;
}
@media (max-width: 1200px) {
  .well,
  .well2 {
    padding-top: 80px;
    padding-bottom: 75px;
  }
}
.well3 {
  padding-top: 37px;
  padding-bottom: 34px;
}
/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #99bf38;
}
.bg-content2 {
  background: #f3f3f3;
}
.bg-content3 {
  background: #f4f5f5;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #272727;
  padding-top: 99px;
  padding-bottom: 93px;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer .brand_slogan {
  color: #a1a194;
}
footer .brand:before {
  background: #a1a194;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
/*========================================================
                     PAGINATION  Styles
=========================================================*/
.pagination{display:inline-block;margin:20px 8.7px;background:#99bf38;}
.pagination > li{display:inline;}
.pagination > li > a,
.pagination > li > span{position:relative;font-size:20px;width:20px;height:30px;text-align:center;border:5px solid rgba(00, 00, 00, 0);float:left;padding:6px 12px;margin-left:0px;line-height:1.42857143;color:#fff;text-decoration:none;-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-ms-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;}
.pagination > li:first-child > a,
.pagination > li:first-child > span{margin-left:0;}
.pagination > li:last-child > a,
.pagination > li:last-child > span{}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{background:#6a8427;color:#fff;z-index:3;-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-ms-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;background:#6a8427;z-index:2;color:#fff;cursor:default;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{color:#777;cursor:not-allowed;background:transparent;}

/*========================================================
                     Video  Styles
=========================================================*/
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}