/*==================     Subscribe Form     ======================*/
.subscribe-form {
  position: relative;
  display: inline-block;
}
.subscribe-form label {
  display: inline-block;
  position: relative;
  padding: 12.5px 10px 12.5px;
  background: #ffffff;
  border: 1px solid #ededed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 18px;
}
.subscribe-form label.name {
  width: 380px;
}
.subscribe-form label.email {
  width: 380px;
}
.subscribe-form input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #777777;
  display: block;
  width: 100%;
  padding-left: 12px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  height: 22px;
}
.subscribe-form a[data-type="submit"] {
  display: inline-block;
  padding: 13px 42px 14px;
  text-align: center;
  background: #464646;
  color: #FFF;
  font: 600 15px/23px 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.subscribe-form a[data-type="submit"]:hover {
  background: #797979;
}
.subscribe-form .error,
.subscribe-form .success {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 10px;
  line-height: 12px;
}
.subscribe-form .error {
  color: #f00;
  overflow: hidden;
  height: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe-form label.invalid .error {
  height: 21px;
}
.subscribe-form .success {
  display: none;
  color: #0f0;
}
@media (max-width: 979px) {
  .subscribe-form label.name,
  .subscribe-form label.email {
    display: block;
    width: 100%;
    margin: 0;
  }
  .subscribe-form * + label,
  .subscribe-form * + a[data-type='submit'] {
    margin-top: 10px;
  }
}
